.home {
  &__LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    flex-flow: column;
    outline: 2px solid red;
    border-radius: 4%;
  }
}
