.home {
  &__LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    height: inherit;
    width: inherit;

    // outline: 2px solid red;
    border-radius: 4%;

    & form > button {
      margin: 1rem;
      height: 2rem;
      width: 10rem;

      outline: 2px solid black;
      border-radius: 25px;
      box-sizing: content-box;
      padding: 0.5rem;

      transition-duration: 0.3s;
      background-color: $main;

      color: white;
    }

    & form > button:hover {
      background-color: black;
    }
  }
}
